Source: interchange
Section: web
Priority: optional
Maintainer: Stefan Hornburg (Racke) <racke@linuxia.de>
Standards-Version: 3.5.6.0
Build-Depends: debhelper (>= 4.1.16), libdigest-md5-perl, libmime-base64-perl, libsafe-hole-perl, libstorable-perl, liburi-perl, libhtml-parser-perl, apache-dev

Package: interchange-cat-standard
Architecture: all
Depends: libwww-perl, debconf (>= 0.2.26), interchange (>=5.3.0), interchange-ui (>=5.3.0), libdbd-mysql-perl | libdbd-pg-perl
Description: Standard store, a sample Interchange catalog
 The Standard store is a demo catalog which you can use to
 build your Interchange applications from. While the Standard store
 is designed to be relatively easy to start with, it is still a full-featured
 demonstration of a number of Interchange capabilities. 
 Once you understand the Standard store and how it works you are well 
 on your way to understanding the Interchange software.

Package: interchange-ui
Architecture: all
Depends: ${perl:Depends}, debconf, interchange (>=4.8.1)
Suggests: apache-ssl | libapache-mod-ssl, libspreadsheet-parseexcel-perl, libspreadsheet-writeexcel-perl
Description: Interchange administration interface (UI)
 With the Interchange administration interface, called UI, you are able
 to perform several useful operations like page edit, user's administration
 and view reports on an Interchange catalog.

Package: interchange
Architecture: any
Depends: ${perl:Depends}, debconf, libdigest-md5-perl, libhtml-parser-perl, libmime-base64-perl, libsafe-hole-perl (>=0.06), libstorable-perl, liburi-perl, logrotate, libwww-perl
Recommends: interchange-ui
Suggests: apache-ssl | libapache-mod-ssl
Description: e-commerce and general HTTP database display system
 Interchange is a database access and retrieval system focused on e-commerce.
 It allows customers to select items to buy from catalog pages. The program
 tracks user information in sessions and interacts with a HTTP server
 through sockets.

Package: libapache-mod-interchange
Architecture: any
Depends: ${shlibs:Depends}, apache-common (>= ${THISDEV})
Suggests: interchange (>=4.8.1)
Description: Integration of the Interchange link protocol with Apache
 mod_interchange is designed to replace the vlink and tlink programs that
 come with Interchange. The Interchange link protocol is implemented via
 an Apache module which saves us the (small) overhead of the execution
 of a CGI program.
