#! /bin/sh -e

# Source debconf library
. /usr/share/debconf/confmodule

# Settings
if [ -f /etc/interchange/settings.cfg ]; then
	exec 4</etc/interchange/settings.cfg
	while read <&4 variable name value; do
		if [ "$variable" = "Variable" ]; then
			if [ "$name" = "UI_LOCALE" ]; then				
				db_set interchange-ui/defaultlocale $value
			fi
		fi
	done
fi

db_input low interchange-ui/defaultlocale || [ $? -eq 30 ]
db_go
