#! /bin/sh -e
#
# Copyright 2001,2002 by Stefan Hornburg (Racke) <racke@linuxia.de>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public
# License along with this program; if not, write to the Free
# Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA  02111-1307  USA.

# Source debconf library
. /usr/share/debconf/confmodule

# demo catalog installation
db_input high interchange-cat-foundation/install || [ $? -eq 30 ]
db_go

db_get interchange-cat-foundation/install
if [ "$RET" == "false" ]; then
	exit 0
fi

# overwrite of existing installation
db_input high interchange-cat-foundation/replace || [ $? -eq 30 ]
db_go

GOAHEAD=false
if [ -d /var/lib/interchange/catalogs/foundation ]; then
	db_get interchange-cat-foundation/replace
	if [ "$RET" = "ask" ]; then
		db_fset interchange-cat-foundation/confirm isdefault true
		db_input critical interchange-cat-foundation/confirm 
		db_go
		db_get interchange-cat-foundation/confirm
		GOAHEAD="$RET"
	elif [ "$RET" == "always" ]; then
		GOAHEAD=true
	fi
else 
	GOAHEAD=true
fi

db_input medium interchange-cat-foundation/purge  || [ $? -eq 30 ]
db_go
db_input high interchange-cat-foundation/username || [ $? -eq 30 ]
db_go
db_input high interchange-cat-foundation/password || [ $? -eq 30 ]
db_go
db_input medium interchange-cat-foundation/locales || [ $? -eq 30 ]
db_go
