#! /bin/sh -e
#
# Copyright 2001,2002,2003,2004,2005,2006,2008,2009 by Stefan Hornburg (Racke) <racke@linuxia.de>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public
# License along with this program; if not, write to the Free
# Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
# MA  02110-1301  USA.

# Source debconf library
. /usr/share/debconf/confmodule

# Set defaults for dbconfig-common
dbc_dbtypes="sqlite, mysql, pgsql"
dbc_dbname=interchange_standard
dbc_dbuser=interchange

# Source dbconfig-common stuff
. /usr/share/dbconfig-common/dpkg/config 

# demo catalog installation
db_input high interchange-cat-standard/install || [ $? -eq 30 ]
db_go

db_get interchange-cat-standard/install
if [ "$RET" = "false" ]; then
	exit 0
fi

# overwrite of existing installation
db_input high interchange-cat-standard/replace || [ $? -eq 30 ]
db_go

GOAHEAD=false
if [ -d /var/lib/interchange/catalogs/standard ]; then
	db_get interchange-cat-standard/replace
	if [ "$RET" = "ask" ]; then
		db_fset interchange-cat-standard/confirm isdefault true
		db_input critical interchange-cat-standard/confirm 
		db_go
		db_get interchange-cat-standard/confirm
		GOAHEAD="$RET"
	elif [ "$RET" = "always" ]; then
		GOAHEAD=true
	fi
else 
	GOAHEAD=true
fi

db_input medium interchange-cat-standard/purge  || [ $? -eq 30 ]
db_go

# web parameters
db_get interchange/full_url
if [ "$RET" = "true" ]; then
	db_get interchange-cat-standard/vhost
	if [ ! "$RET" ]; then
		db_set interchange-cat-standard/vhost `hostname --fqdn`
	fi
	db_input medium interchange-cat-standard/vhost || [ $? -eq 30 ]
	db_go
fi

# database parameters
dbc_go interchange-cat-standard $@

# catalog admin
db_input high interchange-cat-standard/username || [ $? -eq 30 ]
db_go
db_input high interchange-cat-standard/password || [ $? -eq 30 ]
db_go

# locales
db_input medium interchange-cat-standard/locales || [ $? -eq 30 ]
db_go
db_get interchange-cat-standard/locales
if [ "$RET" ]; then
	db_subst interchange-cat-standard/defaultlocale LOCALES "en_US, $RET"
	db_input medium interchange-cat-standard/defaultlocale || [ $? -eq 30 ]
	db_go
fi
