BODY { font-family: Verdana, Arial, Helvetica, sans-serif }
P    { font-family: Verdana, Arial, Helvetica, sans-serif }
H1   { font-family: Verdana, Arial, Helvetica, sans-serif }
H2   { font-family: Verdana, Arial, Helvetica, sans-serif }
H3   { font-family: Verdana, Arial, Helvetica, sans-serif }
B    { font-family: Verdana, Arial, Helvetica, sans-serif }
I    { font-family: Verdana, Arial, Helvetica, sans-serif }
TD   { font-family: Verdana, Arial, Helvetica, sans-serif }

A:link    { text-decoration: none } 
A:visited { text-decoration: none } 
A:active  { text-decoration: none }
A:hover   { color: #000000; text-decoration: none }
